*{
	font-family: "Fira Sans";
}

body{
    background: #E6E6E6 !important;
}

#header{
	/*border-bottom: 1px solid black;*/
	background-color: white !important;
}

#logo{
    padding:15px;
    padding-bottom: 20px;
}

#med{
	font-weight: 900;
	font-size: 80px;
	color: #024690;
}

#cog{
	font-weight: 400;
	font-size: 70px;
	color: #7abbdb;
	/*text-decoration: underline;*/
}

#bracket{
    font-weight: 400;
	font-size: 80px;
	padding: 0 5px;
	color: #6d6c6c;
}

.hide{
	display:none;
}

@media screen and (max-width: 60.625em){
    #search-wrap{
        width:100%;
    }
}

#prof{
	margin-right: 100%;
	margin-top: -20px;
}

.circle{
	border-radius: 50%;
	width: 75px;
	margin-left: 5px;
	margin-bottom: -30px;
	border: 2px solid #7abbdb;
}

#meds{
	width: 100%;
	text-align: center;
}

#mymeds{
	font-size: 40px;
	color: white;
	margin-bottom: 10px;
}

.med{
	background-color: white;
	width: fit-content;
	display: inline-block;
	border-radius: 10px;
	padding: 10px;
	padding-bottom:10px;
	margin: 10px;
	margin-top: 20px;
}

.even_layout{
	display: flex;
	justify-content: center;
}

.med_doses{
	color:#024690;
	font-size: 30px;
	padding-left: 10px;
}

hr{
	background:#7abbdb;
	border: none;
	height: 2px;
}

.med_name{
	color:#024690;
	font-size: 50px;
	margin: 5px;
}

.button_wrap{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

button {
    outline: none;
}