<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link href='http://fonts.googleapis.com/css?family=Raleway:100,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="/css/component.css" />
	<link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/linegraph.css"/>
	<link rel="stylesheet" type="text/css" href="/css/normalizeB.css" />
	<link rel="stylesheet" type="text/css" href="/css/demoB.css" />
	<link rel="stylesheet" type="text/css" href="/css/componentB.css" />
    <link rel="stylesheet" type="text/css" href="/css/list.css"/>
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
	<!--[if IE]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <title>Medacognitive | {{ patient.first_name }}</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div id="header">
		<div id="logo"> <span id="bracket">[</span><span id="med">Med</span><span id="cog">acognitive</span><span id="bracket">]</span></div>
		<div id="search-wrap">
		    <div id="morphsearch" class="morphsearch">
				<form class="morphsearch-form">
                    <input class="morphsearch-input" id="mySearch" type="search" placeholder="Add Medication..."
                           onkeydown="search(this)"/>
					<button class="morphsearch-submit" type="submit">Search</button>
				</form>
                <script type="text/javascript">
                    var searchtext = ""

                    function search(ele) {
                        if (event.key === 'Enter') {
                            searchtext = ele.value;
                        }
                    }
                </script>
				<div class="morphsearch-content">
					<div class="dummy-column">
                        <h2>Medications</h2>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Tylenol</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Lipitor</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Zocor</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Asprin</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Actos</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>ibuprofen</h3>
						</a>
					</div>
					<div class="dummy-column">
						<h2>Most Searched</h2>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Tylenol</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Lipitor</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Zocor</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Asprin</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Actos</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>ibuprofen</h3>
						</a>
					</div>
					<div class="dummy-column">
						<h2>Recent</h2>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Tylenol</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Lipitor</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Zocor</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Asprin</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>Actos</h3>
						</a>
                        <a class="dummy-media-object">
                            <img class="round" src="img/meds.svg" alt="Med Pic"/>
                            <h3>ibuprofen</h3>
						</a>
					</div>
				</div><!-- /morphsearch-content -->
				<span class="morphsearch-close"></span>
			</div><!-- /morphsearch -->
		</div>


</div>


<div id="container" class="cont1">
			<section class="demo-2">

                <div class="box" id="prof">
						<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
							<line class="top" x1="0" y1="0" x2="900" y2="0"/>
							<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
							<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
							<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
						</svg>
                    <h3 align="center">{{ patient.first_name[0].upper()}}</h3>
                    <span align="center">2014</span>
                    <span align="center">{{ patient.last_name }}, {{ patient.first_name }}</span>
                </div>

            </section>

</div><!-- /container -->

</container>
<div class="barChart" id="bar-chart"></div>
<div class="lineChart" id="line-chart"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

</div>
</article>
</div>
</div>
</div>


<div id="footer"></div>

<div class="overlay"></div>
<script src="/js/classie.js"></script>
<script src="/js/listh.js"></script>
<script src="/js/linegraph.js"></script>
	<script>
			(function() {
			    var cont = document.getElementById( 'container' )
				var morphSearch = document.getElementById( 'morphsearch' ),
					input = morphSearch.querySelector( 'input.morphsearch-input' ),
					ctrlClose = morphSearch.querySelector( 'span.morphsearch-close' ),
					isOpen = isAnimating = false,
					// show/hide search area
					toggleSearch = function(evt) {
						// return if open and the input gets focused
						if( evt.type.toLowerCase() === 'focus' && isOpen ) return false;

						var offsets = morphsearch.getBoundingClientRect();
						if( isOpen ) {
							classie.remove( morphSearch, 'open' );

                            // trick to hide input text once the search overlay closes
							// todo: hardcoded times, should be done after transition ends
							if( input.value !== '' ) {
								setTimeout(function() {
									classie.add( morphSearch, 'hideInput' );
									setTimeout(function() {
										classie.remove( morphSearch, 'hideInput' );
										input.value = '';
									}, 300 );
								}, 500);
							}

                            input.blur();
							classie.remove( cont, 'hide');
						}
						else {
							classie.add( morphSearch, 'open' );
							setTimeout(function() {
									classie.add( cont, 'hide');
								}, 500);
						}
						isOpen = !isOpen;
					};

				// events
				input.addEventListener( 'focus', toggleSearch );
				ctrlClose.addEventListener( 'click', toggleSearch );
				// esc key closes search overlay
				// keyboard navigation events
				document.addEventListener( 'keydown', function( ev ) {
					var keyCode = ev.keyCode || ev.which;
					if( keyCode === 27 && isOpen ) {
						toggleSearch(ev);
					}
				} );


				/***** for demo purposes only: don't allow to submit the form *****/
				morphSearch.querySelector( 'button[type="submit"]' ).addEventListener( 'click', function(ev) { ev.preventDefault(); } );
			})();
		</script>

</body>
</html>
