<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link href='http://fonts.googleapis.com/css?family=Raleway:100,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<!--[if IE]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<title>Medacognitive | Welcome</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
</head>
<body>
	<div id="header"> 
		<div id="logo"> <span id="bracket">[</span><span id="med">Med</span><span id="cog">acognitive</span><span id="bracket">]</span></div>
		<div id="search-wrap">
		    <div id="morphsearch" class="morphsearch">
				<form class="morphsearch-form">
					<input class="morphsearch-input" type="search" placeholder="Search Patients..."/>
					<button class="morphsearch-submit" type="submit">Search</button>
				</form>
				<div class="morphsearch-content">
					<div class="dummy-column">
						<h2>Patients</h2>
						<a class="dummy-media-object" href="http://twitter.com/SaraSoueidan">
							<img class="round" src="http://0.gravatar.com/avatar/81b58502541f9445253f30497e53c280?s=50&d=identicon&r=G" alt="Sara Soueidan"/>
							<h3>Sara Soueidan</h3>
						</a>
						<a class="dummy-media-object" href="http://twitter.com/rachsmithtweets">
							<img class="round" src="http://0.gravatar.com/avatar/48959f453dffdb6236f4b33eb8e9f4b7?s=50&d=identicon&r=G" alt="Rachel Smith"/>
							<h3>Rachel Smith</h3>
						</a>
						<a class="dummy-media-object" href="http://www.twitter.com/peterfinlan">
							<img class="round" src="http://0.gravatar.com/avatar/06458359cb9e370d7c15bf6329e5facb?s=50&d=identicon&r=G" alt="Peter Finlan"/>
							<h3>Peter Finlan</h3>
						</a>
						<a class="dummy-media-object" href="http://www.twitter.com/pcridesagain">
							<img class="round" src="http://1.gravatar.com/avatar/db7700c89ae12f7d98827642b30c879f?s=50&d=identicon&r=G" alt="Patrick Cox"/>
							<h3>Patrick Cox</h3>
						</a>
						<a class="dummy-media-object" href="https://twitter.com/twholman">
							<img class="round" src="http://0.gravatar.com/avatar/cb947f0ebdde8d0f973741b366a51ed6?s=50&d=identicon&r=G" alt="Tim Holman"/>
							<h3>Tim Holman</h3>
						</a>
						<a class="dummy-media-object" href="https://twitter.com/shaund0na">
							<img class="round" src="http://1.gravatar.com/avatar/9bc7250110c667cd35c0826059b81b75?s=50&d=identicon&r=G" alt="Shaun Dona"/>
							<h3>Shaun Dona</h3>
						</a>
					</div>
					<div class="dummy-column">
						<h2>Most Searched</h2>
						<a class="dummy-media-object" href="http://twitter.com/SaraSoueidan">
							<img class="round" src="http://0.gravatar.com/avatar/81b58502541f9445253f30497e53c280?s=50&d=identicon&r=G" alt="Sara Soueidan"/>
							<h3>Sara Soueidan</h3>
						</a>
						<a class="dummy-media-object" href="http://twitter.com/rachsmithtweets">
							<img class="round" src="http://0.gravatar.com/avatar/48959f453dffdb6236f4b33eb8e9f4b7?s=50&d=identicon&r=G" alt="Rachel Smith"/>
							<h3>Rachel Smith</h3>
						</a>
						<a class="dummy-media-object" href="http://www.twitter.com/peterfinlan">
							<img class="round" src="http://0.gravatar.com/avatar/06458359cb9e370d7c15bf6329e5facb?s=50&d=identicon&r=G" alt="Peter Finlan"/>
							<h3>Peter Finlan</h3>
						</a>
						<a class="dummy-media-object" href="http://www.twitter.com/pcridesagain">
							<img class="round" src="http://1.gravatar.com/avatar/db7700c89ae12f7d98827642b30c879f?s=50&d=identicon&r=G" alt="Patrick Cox"/>
							<h3>Patrick Cox</h3>
						</a>
						<a class="dummy-media-object" href="https://twitter.com/twholman">
							<img class="round" src="http://0.gravatar.com/avatar/cb947f0ebdde8d0f973741b366a51ed6?s=50&d=identicon&r=G" alt="Tim Holman"/>
							<h3>Tim Holman</h3>
						</a>
						<a class="dummy-media-object" href="https://twitter.com/shaund0na">
							<img class="round" src="http://1.gravatar.com/avatar/9bc7250110c667cd35c0826059b81b75?s=50&d=identicon&r=G" alt="Shaun Dona"/>
							<h3>Shaun Dona</h3>
						</a>
					</div>
					<div class="dummy-column">
						<h2>Recent</h2>
						<a class="dummy-media-object" href="http://twitter.com/SaraSoueidan">
							<img class="round" src="http://0.gravatar.com/avatar/81b58502541f9445253f30497e53c280?s=50&d=identicon&r=G" alt="Sara Soueidan"/>
							<h3>Sara Soueidan</h3>
						</a>
						<a class="dummy-media-object" href="http://twitter.com/rachsmithtweets">
							<img class="round" src="http://0.gravatar.com/avatar/48959f453dffdb6236f4b33eb8e9f4b7?s=50&d=identicon&r=G" alt="Rachel Smith"/>
							<h3>Rachel Smith</h3>
						</a>
						<a class="dummy-media-object" href="http://www.twitter.com/peterfinlan">
							<img class="round" src="http://0.gravatar.com/avatar/06458359cb9e370d7c15bf6329e5facb?s=50&d=identicon&r=G" alt="Peter Finlan"/>
							<h3>Peter Finlan</h3>
						</a>
						<a class="dummy-media-object" href="http://www.twitter.com/pcridesagain">
							<img class="round" src="http://1.gravatar.com/avatar/db7700c89ae12f7d98827642b30c879f?s=50&d=identicon&r=G" alt="Patrick Cox"/>
							<h3>Patrick Cox</h3>
						</a>
						<a class="dummy-media-object" href="https://twitter.com/twholman">
							<img class="round" src="http://0.gravatar.com/avatar/cb947f0ebdde8d0f973741b366a51ed6?s=50&d=identicon&r=G" alt="Tim Holman"/>
							<h3>Tim Holman</h3>
						</a>
						<a class="dummy-media-object" href="https://twitter.com/shaund0na">
							<img class="round" src="http://1.gravatar.com/avatar/9bc7250110c667cd35c0826059b81b75?s=50&d=identicon&r=G" alt="Shaun Dona"/>
							<h3>Shaun Dona</h3>
						</a>
					</div>
				</div><!-- /morphsearch-content -->
				<span class="morphsearch-close"></span>
			</div><!-- /morphsearch -->
		</div>
	</div>
	<div id="main"></div>
	<div id="footer"></div>
			<div class="overlay"></div>
		<script src="js/classie.js"></script>
		<script>
			(function() {
				var morphSearch = document.getElementById( 'morphsearch' ),
					input = morphSearch.querySelector( 'input.morphsearch-input' ),
					ctrlClose = morphSearch.querySelector( 'span.morphsearch-close' ),
					isOpen = isAnimating = false,
					// show/hide search area
					toggleSearch = function(evt) {
						// return if open and the input gets focused
						if( evt.type.toLowerCase() === 'focus' && isOpen ) return false;

						var offsets = morphsearch.getBoundingClientRect();
						if( isOpen ) {
							classie.remove( morphSearch, 'open' );

							// trick to hide input text once the search overlay closes 
							// todo: hardcoded times, should be done after transition ends
							if( input.value !== '' ) {
								setTimeout(function() {
									classie.add( morphSearch, 'hideInput' );
									setTimeout(function() {
										classie.remove( morphSearch, 'hideInput' );
										input.value = '';
									}, 300 );
								}, 500);
							}
							
							input.blur();
						}
						else {
							classie.add( morphSearch, 'open' );
						}
						isOpen = !isOpen;
					};

				// events
				input.addEventListener( 'focus', toggleSearch );
				ctrlClose.addEventListener( 'click', toggleSearch );
				// esc key closes search overlay
				// keyboard navigation events
				document.addEventListener( 'keydown', function( ev ) {
					var keyCode = ev.keyCode || ev.which;
					if( keyCode === 27 && isOpen ) {
						toggleSearch(ev);
					}
				} );


				/***** for demo purposes only: don't allow to submit the form *****/
				morphSearch.querySelector( 'button[type="submit"]' ).addEventListener( 'click', function(ev) { ev.preventDefault(); } );
			})();
		</script>
</body>
</html>
